*{
	margin: 0;
	padding: 0;
}
body{
	background: #2F4F4F;
	text-align: center;
}
.logo{
	color: white;
}
.commands{
	color: white;
}
.list{
	background-color: black;

}
.list ul{
	list-style-type: square;

}